.bicicletas-bg:nth-child(odd){
  background: var(--cor-11);
}

.bicicletas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-bottom: 60px;
  padding-top: 60px;
}

.bicicletas-imagem{
  position: relative;
}

.bicicletas-imagem span{
  background-color: var(--cor-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  position:absolute;
  top: 20px;
  right: 0px;
  border-radius: 4px 0 0 4px;
}

.bicicletas-conteudo{
  display: grid;
  grid-template-columns: 1fr auto;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo p{
  grid-column: 1/-1;
}

.bicicletas-conteudo h2{
  margin-bottom: 20px;
}

.bicicletas-conteudo h2::before{
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
}

.bicicletas-conteudo p{
  margin-bottom: 32px;
}

.bicicletas-conteudo li{
  display: flex;
  align-items: center;
}

.bicicletas-conteudo ul img{
  width: 24px;
  margin-right: 8px;
}

.bicicletas-conteudo ul{
  display: grid;
  gap: 16px;
}

.bicicletas-conteudo a{
  place-self: end;
}

@media(max-width:){

}