body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}



h1,
ul,
h2,
h3,
p,
blockquote,
dd{
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /*Essa propriedade possibilita Herdar do pai*/
}

img {
  max-width: 100%;
  display: block;
}
/*Seleciona um tipo especifico quando se tem o source = src*/
img[src$=".jpg"] {
  border-radius: 4px;
}



